<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <title>Datos con Impacto</title>
</head>
<body>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../assets/images/logo_horizontal.png" height="60px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Quienes Somos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Proyectos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/views/contacto.html">Contáctanos</a></li>
            </ul>
        </div>
    </nav>

    <!-- Secciones con gradientes y texto alternado -->
    <section class="section gradient1">
        <div class="container d-flex align-items-center">
            <div class="text-block text-left">
            <h1>Hola! Un gusto que estés acá :)</h1>
            <p>Nosotros somos <strong>Datos con Impacto</strong>, un grupo de Data Nerds (o simplemente nerds), que encontró como punto de intersección el interés por temáticas sociales y ayuda a la comunidad.<br>
                Es así como surge la idea de fundar esta comunidad, que busca conjugar el conocimiento y curiosidad por la ciencia y analisis de datos, con proyectos de alto impacto social y de beneficio 
                a la sociedad de la que somos parte. <br>
                Si bien nuestro origen está en Argentina, no descartamos proyectos que engloben nuestra querida América Latina. ❤️
            </p>
        </div>
    </div>
</section>

<section class="section gradient2">
    <div class="container d-flex align-items-center flex-row-reverse">
        <div class="text-block text-right">
            <h1>¿Cómo surgió la idea?</h1>
            <p>Motivados por aplicar nuestro conocimiento y pasión por el análisis de datos, comenzamos a buscar información de temáticas sociales en bases de datos públicas de Argentina.<br>
                Para nuestra sorpresa descubrimos que abundaba la información! Pero la misma muchas veces carecía de estructura apropiada para el consumo por un usuario no experto, o mismo había inconsistencias
            con otras fuentes que podían llegar a consultarse, generando así un sentimiento de caos y confusión.<br>
        Sumado a ello, nos quedamos con la percepción de que en américa latina escaseaban organizaciones que se dedicaran a ser articuladoras de proyectos de datos de impacto social, como
    así los hay en otras partes del mundo.</p>
        </div>
        </div>
</section>

<section class="section gradient3">
    <div class="container d-flex align-items-center">
        <div class="text-block text-left">
            <h1>¿Cuál es nuestra propuesta?</h1>
            <p>Nuestro sueño es ser el nexo entre organizaciones, organismos, instituciones e individuos que quieran generar proyectos de cambio social, y tengan un gap que cubrir en materia de datos.<br>
                Creemos que cualquier proyecto social se desarrolla de manera colaborativa y conjunta, con lo cual nuestro enfoque no es unidireccional, sino que buscamos co-crear con los agentes de cambio la solución de inicio a fin.<br>
            </p>
        </div>
    </div>
</section>

<section class="section gradient4">
    <div class="container d-flex align-items-center flex-row-reverse">
        <div class="text-block text-right">
            <h1>¿Y si charlamos? :)</h1>
            <p>Ya sea que tengas una idea, proyecto, o solo quieras saber más de nosotros, te invitamos a que nos contactes a través del siguiente formulario!</p>
            <a class="btn btn-primary" href="views/contacto.html">¡Conócenos!</a>
        </div>
    </div>
</section>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>


